@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans text-green-950 text-lg box-border;
  }
  body {
  }

  input {
    @apply outline-none;
  }

  dialog {
    opacity: 0;
  }

  dialog[open] {
    animation: fade-in-up 0.5s forwards;
  }
}

@layer components {
}

@keyframes fade-in-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(-0px);
    opacity: 1;
  }
}
